################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/netCoreAPI.Application/bin/Debug/netcoreapp3.0
